.ahover222467{ font-size: 9pt; color: #ff6600; font-family: 宋体 ;}
.aactive222467{ font-size: 9pt; color: #666666; font-family: 宋体 ;}
.avisited222467{ font-size: 9pt; color: #666666; font-family: 宋体 ;}
.fyheadstyle222467{ font-size: 9pt; font-family: 宋体 ;}
.fytitlestyle222467{ border-right: #ecc197 1px solid; border-top: #ecc197 1px solid; font-weight: bold; font-size: 9pt; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,,StartColorStr=#ffffff,, EndColorStr=#fff5d7); padding-bottom: 5px; border-left: #ecc197 1px solid; color: #ff6600; padding-top: 5px; border-bottom: #ecc197 1px solid; font-family: 宋体; background-color: #def1fe ;}
.addfont222467{ font-weight: bold; font-size: 9pt; color: #aa0000; font-family: 宋体; text-decoration: none ;}
.secondtrstyle222467{ background-color: #ffffec ;}
.winstyle222467{ font-size: 9pt; color: #999999; line-height: 2; font-family: 宋体 ;}
.firsttrstyle222467{ background-color: #ffffff ;}
.alink222467{ font-size: 9pt; color: #666666; font-family: 宋体 ;}
A.c222467
{
     
    text-decoration: none;}
A.c222467:link 
{
    color:;}
A.c222467:visited 
{
    color:;}
A.c222467:active 
{
    color: ;}
A.c222467:hover 
{
    color: ;}

.c222467_t table
{
    border-collapse:collapse;
    border:1px #ebbd63 solid;}                                                                          
.c222467_t td
{
    border:1px #ebbd63 solid;} 
